{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    
    
    <div class="dark-matter">
                    <h3>Créer votre compte :</h3>

                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'registration.submit'|trans }}" id="wp-submit" class="btn btn-primary" value="Login" tabindex="100"  />
                    </div>
                    {{ form_end(form) }}

    </div>     
{% endblock %}

