
<form action="{{path('t_mall_client_rechercheBoutique')}}" method="POST" class="navbar-form form-search pull-left">
<div class="col-sm-3 no-left-padding">
                    {{form_widget(form.recherche)}}
<div class="clear"></div>

		<br/>
		
                {{form_widget(form.save)}}
	</div>
        
        
        
    </table> 

</form>
        
