{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{% endblock %}
{% block body %}

    <div class="content">
        <div id="middle">

           
            
        </div>
    </div>
    <div class="container">
        <div id="middle "class="container_12" >
            <div class="inner">    
                <!-- login widget -->
                <div class="widget-container widget_login">
                    <h3>Registration</h3>

                    {% block fos_user_content %}
                        <p>
                            {{ 'resetting.check_email'|trans({'%email%': email}) }}
                        </p>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}